html { 
  background: url(bg.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
canvas {
    display: block;
    margin: auto;
    border: 2px solid black;
	
}
#player1{
	width: 305px;
	height: 610px;
	overflow: auto;
	float:left;
	margin-left: 150px;

	text-align:right;
	
}
#score1{
	width: 305px;
	height: 300px;
	float:left;	
	margin-right: 50px;
	text-align:right;
	
}
#score2{
	width: 305px;
	height: 155px;
	float:right;	

}

#player2{
	width: 305px;
	height: 605px;
	float:right;	
	text-align:right;
	margin-right: 150px
}
#wrapper{
	
	

}
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 100px;
}