canvas {
    display: block;
    margin: auto;
    border: 1px solid black;
	background-color:#DDEEB7;
}
#left {
	width:25%;
	height: 620px;
	overflow: auto;
	float:left;
	text-align:right;
	margin-right : 50px
}
#main{
	width:25%;
	height: 300px;
	float:left;	
	text-align:right;

}
#wrapper{
	width:100%;
	position: relative;
	margin:auto;
	height:800px;

}
	